<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-8">
        <h2>Crear Usuario</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a ui-sref="evento.index">Lista de eventos</a>
            </li>
            <li class="active">
                <strong>Crear Evento</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight" ng-init="getEmpresas(); getCategorias();">
    <div class="row">
        <div class="col-lg-offset-2 col-lg-8">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    Formulario de usuarios
                </div>
                <div class="ibox-content">
                    <form  class="form-horizontal" ng-submit="create()">
                        <div class="form-group"><label class="col-sm-2 control-label">Nombre Evento:</label>
                            <div class="col-sm-10"><input type="text" class="form-control" ng-model="evento.Nombre_Evento" required></div>
                        </div>

                        <div class="form-group"><label class="col-sm-2 control-label">Descripcion:</label>
                            <div class="col-sm-10"><input type="text" class="form-control" ng-model="evento.Descripcion_Evento" required></div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Banner:</label>
                            <div class="col-sm-10">
                                    <input type="file" file-model = "evento.Banner_Evento" class="inputfile"/>
                            </div>
                        </div>

                        <div class="form-group"><label class="col-sm-2 control-label">Fecha Inicio:</label>
                            <div class="col-sm-10"><input type="date" class="form-control" ng-model="evento.fInicio" required></div>
                        </div>

                        <div class="form-group"><label class="col-sm-2 control-label">Fecha Fin:</label>
                            <div class="col-sm-10"><input type="date" class="form-control" ng-model="evento.fFin" required></div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Empresa:</label>
                            <div class="col-sm-10">
                                <select class="form-control" ng-model="evento.ID_Empresa">
                                        <option ng-repeat="option in listaEmpresas" value="{{option.ID_Empresa}}">{{option.Nombre_Empresa}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Categoria</label>
                            <div class="col-sm-10">
                                <select class="form-control" ng-model="evento.ID_Categoria">
                                    <option ng-repeat="cat in listaCategorias" value="{{cat.ID_Categoria}}">{{cat.Nombre_Categoria}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group"><label class="col-sm-2 control-label">Direccion:</label>
                            <div class="col-sm-10"><input type="tel" class="form-control" ng-model="evento.Direccion" required></div>
                        </div>

                        <!--<div class="form-group"><label class="col-sm-2 control-label">Segmento:</label>
                            <div class="col-sm-10">
                                    <select name="repeatSelect" id="repeatSelect" class="form-control" ng-model="Empresa.ID_Segmento">
                                            <option ng-repeat="option in listaSegmentos" value="{{option.ID_Segmento}}">{{option.Nombre_Segmento}}</option>
                                    </select>
                            </div>
                        </div>-->



                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                <button type="submit" ladda="loadingDemo" class="ladda-button ladda-button-demo btn btn-primary"  data-style="expand-right">Guardar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
