<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-8">
        <h2>Crear Usuario</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a ui-sref="users.index">Lista de Usuarios</a>
            </li>
            <li class="active">
                <strong>Crear Usuario</strong>
            </li>
        </ol>
    </div>
    <!--div class="col-lg-4">
        <div class="text-right" style="padding-top: 3em">
            <a class="btn btn-primary">Crear Usuario</a>
        </div>
    </div-->

</div>
<div class="wrapper wrapper-content animated fadeInRight" ng-init="getEmpresas()">
    <div class="row">
        <div class="col-lg-offset-2 col-lg-8">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    Formulario de usuarios
                </div>
                <div class="ibox-content">
                    <form  class="form-horizontal" ng-submit="create()">
                        <div class="form-group"><label class="col-sm-2 control-label">Nombre:</label>
                            <div class="col-sm-10"><input type="text" class="form-control" ng-model="user.Nombre_Usuario" required></div>
                        </div>

                        <div class="form-group"><label class="col-sm-2 control-label">Apellido:</label>
                            <div class="col-sm-10"><input type="text" class="form-control" ng-model="user.Apellido_Usuario" required></div>
                        </div>

                        <div class="form-group"><label class="col-sm-2 control-label">Correo:</label>
                            <div class="col-sm-10"><input type="email" class="form-control" ng-model="user.Correo_Electronico" required></div>
                        </div>


                        <div class="form-group">
                            <label class="col-sm-2 control-label">Contrasena:</label>
                            <div class="col-sm-10"><input type="password" class="form-control" ng-model="user.Contrasena" required></div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Imagen de perfil:</label>
                            <div class="col-sm-10">
                                    <input type="file" file-model = "imagen_perfil" class="inputfile"/>
                            </div>
                        </div>

                        <div class="form-group"><label class="col-sm-2 control-label">Fecha Nacimiento:</label>
                            <div class="col-sm-10"><input type="date" class="form-control" ng-model="user.Fecha_Nacimiento" required></div>
                        </div>

                        <div class="form-group"><label class="col-sm-2 control-label">Empresa:</label>
                            <div class="col-sm-10">
                                <select class="form-control" ng-model="user.ID_Empresa">
                                    <option value="{{emp.ID_Empresa}}" ng-repeat="emp in listaEmpresas">{{emp.Nombre_Empresa}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                <button type="submit" ladda="loadingDemo" class="ladda-button ladda-button-demo btn btn-primary"  data-style="expand-right">Guardar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
